*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    background-color: #14161a;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #ffff;
}
.logo{
    display: flex;
}
.logo img{
    width: 70px;
    height: 50px;
    margin-left: 20px;
}

nav a{
    font-weight: 600;
    padding-right:10px;
    margin-right: 60px;
    justify-content: space-evenly;
}
nav a:hover{
    color: #054281;
}
@media (max-width: 680px) {
    header{
        flex-direction: column;
    }
    .logo img{
        padding: 20px 0 20px 0;
    }
    nav{
        padding: 10px;
        margin-left: 60px;
        text-align: center;
    }
}
@media (max-width: 360px){
    header{
        flex-direction: column;
    }
    nav{
        font-size: xx-small;
        font-weight: lighter;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:5px;
        grid-auto-rows: minmax(auto);
    }
    nav a{
        margin: 0 10px 0 0;
        text-align: center;
    }
}